Hi,

You have been invited by {{.InvitedBy}} to join the workspace {{.WorkspaceName}} at Featmap!

You can join the workspace by going to {{.AppSiteURL}}account/invitation/{{.Code}}

If you are new to Featmap, you need create a new account using the follownig email: {{.Email}} 

Kind regards,
The Featmap team