Hi,

You have been invited by {{.InvitedBy}} ({{.InvitedByEmail}}) to join the workspace "{{.WorkspaceName}}" at Featmap!

You can join the workspace by going to {{.AppSiteURL}}account/invitation/{{.Code}}

If you are new to Featmap, you need to create an account. You can create a new account by going to {{.AppSiteURL}}account/signup. Remember to use the following email: {{.Email}}.

Kind regards,
The Featmap team