Hi,

Somebody (hopefully you) has requested a password reset for your account in Featmap. If you have not requested a password reset, please ignore this email.

Reset your password by going to {{.AppSiteURL}}/account/reset/{{.Key}}

Kind regards,
Featmap