Hi,
Here's some info to get you started:

Your new workspace is available at {{.AppSiteURL}}/{{.Workspace}}
	
Verify your email address ({{.Email}}) by going to {{.AppSiteURL}}/account/verify/{{.Key}}

Kind regards,
Featmap