Hi,
Here's some info to get you started:

Your new workspace is available at {{.AppSiteURL}}{{.Workspace}}
	
Confirm your email adress ({{.Email}}) by going to {{.AppSiteURL}}account/confirm/{{.Key}}

Kind regards,
The Featmap team