Hi,
Here's some info to get you started:

Your new workspace is available at {{.AppSiteURL}}{{.Workspace}}
	
Verify your email adress ({{.Email}}) by going to {{.AppSiteURL}}account/verify/{{.Key}}

Kind regards,
The Featmap team